

<div class='container'>
<div class="panel panel-default">
  <div class="panel-body">
    {{ message }}
  </div>
</div>
	<form>
	  <div class="form-group">
	    <label for="item">Item</label>
	    <input type="text" class="form-control" ng-model='newItem.name' id="name" placeholder="Item...">
	  </div>
	  <div class="form-group">
	    <label for="type">Type</label>
	    <input type="text" class="form-control" ng-model='newItem.type' id="type" placeholder="Type...">
	  </div>
	  <div>
	  </div>
	  <button type="submit" class="btn btn-default" ng-click='createItem()'>Submit</button>
	</form>
	  	<p>{{newItem.name}}, {{newItem.type}}</p>
</div>