<div class="navbar navbar-default">
	<a class="navbar-brand" href="#">Whole Hog CRUD</a>
	<div class='col-md-7 col-md-offset-3'>
		<form id="login-form" class="navbar-form navbar-left" role="search">	
		  <div class="form-group">
		  <button type="button" class="btn btn-primary btn-sm" ng-click="">Login</button>
		  <logout-button logout='logout'></logout-button>
		  <button type="button" class="btn btn-warning btn-sm" ng-click="logout()">Logout</button>
			<span>or</span>
		  </div>
		</form>
	</div>
</div>