<div class="navbar navbar-default">
	<a class="navbar-brand" href="#">Whole Hog CRUD</a>
	<div class='col-md-7 col-md-offset-3'>
		<form id="login-form" class="navbar-form navbar-left" role="search">	
		  <div class="form-group">
		  <a ng-href="#/login"><button type="button" class="btn btn-primary btn-sm" >Login</button></a>
		  <a ng-href="#/register"><button type="button" class="btn btn-info btn-sm" >Sign Up</button></a>
		  <logout-button logout='logout'></logout-button>
		  </div>
		</form>
	</div>
</div>